In [1]:
import pandas as pd

In [2]:
data = { 'Name' : ['Chris', 'Jimmy', 'Charlie', 'David', 'George', 'Lucifer', 'Harvey','Ross', 'Dona', 'Rachel'],
  'Age' : [28,35,45,29,32,33,25,20,21,20],
  'Number' : [1,2,3,4,5,6,7,8,9,10],
  'Marks' : [15,14,16,12,18,18,20,19,19,17],
  'City' : ['Indianapolis', 'san Jose', 'Sydney', 'New Orleans', 'Bali','Havana', 'Berlin', 'England', 'Stockholm', 'India']}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

      Name  Age  Number  Marks          City
0    Chris   28       1     15  Indianapolis
1    Jimmy   35       2     14      san Jose
2  Charlie   45       3     16        Sydney
3    David   29       4     12   New Orleans
4   George   32       5     18          Bali
5  Lucifer   33       6     18        Havana
6   Harvey   25       7     20        Berlin
7     Ross   20       8     19       England
8     Dona   21       9     19     Stockholm
9   Rachel   20      10     17         India

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Number  10 non-null     int64
 3   Marks   10 non-null     int64
 4   City    10 non-null     object
dtypes: int64(3), object(2)
memory usage: 528.0+ bytes

In [8]:
df.describe()

             Age    Number      Marks
count  10.000000  10.00000  10.000000
mean   28.800000   5.50000  16.800000
std     7.885289   3.02765   2.529822
min    20.000000   1.00000  12.000000
25%    22.000000   3.25000  15.250000
50%    28.500000   5.50000  17.500000
75%    32.750000   7.75000  18.750000
max    45.000000  10.00000  20.000000

In [9]:
df.loc[3]

Name            David
Age                29
Number              4
Marks              12
City      New Orleans
Name: 3, dtype: object

In [13]:
df.isnull().any()

Name      False
Age       False
Number    False
Marks     False
City      False
dtype: bool